body{
	font-family: "Open Sans",sans-serif;
}
.arrowdown:hover>#arrow{
    transform: rotate(90deg);
}
.arrowdown>h2{
	float:left
}
.arrowdown #arrow{
	float:left
}

.arrowdown.rotated #arrow{
	 transform: rotate(90deg);
}

.contentelem{
	display:none;
}

#mapcontrol{
	position:fixed;
	width:5%;
	right:0px;
	top:0px;
}
#mapid { height: 100%; width:100% }

#mapwrapper{
	position: fixed;
    right: 0;
    top: 50px;
    visibility: hidden;
    width: 50%;
    height: 100%;
}
#mapwrapper.active{
	width:50%;
	visibility:visible;
}

.highlight {
    border: 1px solid;
    border-color: #dddddd;
    padding: 20px;
    border-radius: 10px;
    clear: both;
    overflow:  hidden;
}
tr.highlight {
    border-top: 2px solid black;
    background-color: #a9cce2 !important;
}

td div.image {
    margin: 2%;
    max-width: 400px;
    overflow:hidden;
}
.image img{
    width: 100%
    
}
#left_changes{
	 top:0px;
	 left:0px;
	 position:fixed;
	 z-index:5
}
.fixy{
    width: 50%;
    position:fixed;
    border-bottom: 2px solid black;
    z-index:5;
    bottom:50px;
    overflow: scroll;
    top: 50px;
    left:0px;
}

.fixy{
	visibility:hidden;
}


.fixy.active{
	width:50%;
	visibility:visible;
	background-color:white;
	
}


.toggler {
  color: #fff;
  background-color: #193047;
  background-image: linear-gradient(top, #27496d, #193047);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 8px;
  padding: 10px;
  float:left;
}

.toggler:hover {
  box-shadow: inset 0 0 0 1px #27496d,0 1px 2px #ffffff;
}
.toggler.active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 1px 4px #ffffff;
}