body{
	font-family: "Open Sans",sans-serif;
}
h1{
	margin-top: 2em;
}
.arrowdown:hover>#arrow{
    transform: rotate(90deg);
}
.arrowdown>h2{
	float:left
}
.arrowdown #arrow{
	float:left
}

.arrowdown.rotated #arrow{
	 transform: rotate(90deg);
}

.contentelem{
	display:none;
}

/*########################### MENU ############*/
#menu{
	height: 8rem;
    overflow: hidden;
    z-index: 1200;
    /* max-width: 60%; */
    position: fixed;
    width: 100%;
    background-color: #122d45;
    color: white;
    top: 0;
    left: 0;
}
div#menu>div{
	clear:both;
    height: 4rem;
    overflow: hidden;
    line-height: 2rem;
    font-size: 3.7rem;
    width:100%;
    
}
div#menu.show {
    height: 100%;
}

div#menu>div.top {
    clear: both;
    height: 8rem;
    overflow: hidden;
    line-height: 8rem;
    font-size: 8.7rem;
    width: 100%;
}
/* Menu Icon */
div#menu>div.top img{
        max-height: 6.7rem;
    max-width: 8.3rem;
    margin-left: 0.1em;
    margin-top: 0.05em;
}

/* #mapcontrol{ */
/* 	position:fixed; */
/* 	width:5%; */
/* 	right:0px; */
/* 	top:2em; */
/* 	width: 20%; */
/* 	z-index:1005; */
/* } */
#mapid { height: 100%; width:100% }

#mapwrapper{
	position: fixed;
    right: 0;
    top: 5em;
    visibility: hidden;
    width: 50%;
    height: 100%;
}

#mapwrapper.fullscreen{
	width: 100%;
}

#mapwrapper.active{
	visibility:visible;
}

.highlight {
    border: 1px solid;
    border-color: #dddddd;
    padding: 20px;
    border-radius: 10px;
    clear: both;
    overflow:  hidden;
}
tr.highlight {
    border-top: 2px solid black;
    background-color: #a9cce2 !important;
}

td div.image {
    margin: 2%;
    max-width: 44rem;
    overflow:hidden;
}
.image img{
    width: 100%
    
}
#left_changes{
	 top:2em;
	 left:0px;
	 position:fixed;
	 z-index:1005;
	 width: 100%;
}
.fixy{
    width: 50%;
    position:fixed;
    border-bottom: 2px solid black;
    z-index:1005;
    bottom:50px;
    overflow: hidden;
    top: 5em;
    left:0px;
}

.fixy{
	visibility:hidden;
}

#highlights{
	overflow:scroll;
}

.fixy.active{
	width:50%;
	visibility:visible;
	background-color:white;
	
}

.pretty{
	max-width:100%;
}


.pretty .state label:after, .pretty .state label:before {
    content: '';
    width: calc(1.1em + 2px);
    height: calc(0.6em + 2px);
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc((0% - (100% - 0.5em)) - 1%);
    background-color: transparent;
}

.pretty.p-switch.p-slim input:checked~.state:before {
    border-color: #44a7ff;
    background-color: #44a7ff!important;
}    
.pretty.p-switch input:checked~.state label:after {
    background-color: #44a7ff!important;
    left: 1em;
}
.toggler {
     color: #fff;
    background-color: #193047;
    background-image: linear-gradient(top, #27496d, #193047);
    box-shadow: inset 0 0 0 1px #27496d;
    border: none;
    border-radius: 0.6em;
    padding: 10px;
    /* float: left; */
    width: 20%;
    /* height: 7.5rem; */
    text-align: center;
    /* margin-top: 2em; */
    display: table-cell;
    vertical-align: middle;
    height: 4em;
    max-width: 20%;
}

.toggler:hover {
  box-shadow: inset 0 0 0 1px #27496d,0 1px 2px #ffffff;
}
.toggler.active {
  box-shadow: inset 0 0 0 1px #000000, inset 0 1px 4px #ffffff;
  background-color: #b6c8ea;
  color: black;
  /* border: 1px solid black; */
}

/* Inserting a fullscreen button for  the Map*/
div#fullscreen {
    z-index: 1001;
    width: 25%;
    height: 25%;
    top: 1em;
    right: 1em;
    position: absolute;
}
#fullscreen:after {
        content: "";
    z-index: 1001;
    background-image: url(../img/fullscreen.png);
    background-size: 100% auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
#fullscreen.active{
	width: 12.5%;
	/*height: 7.5%  */  
}
#fullscreen.active:after {
    background-image: url("../img/cancel.png");
    
}
div#fullscreen:hover {
    filter: brightness(3) grayscale(0.1);
}
